<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.shop.mapper.CartMapper">

	<insert id="createCart" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.cqust.pojo.TCart">
		insert into t_cart(total,userId)
		values(#{total},#{userid})
	</insert>



</mapper>