<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.mapper.TDietitianMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.pojo.TDietitian" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="uID" property="uid" jdbcType="VARCHAR" />
    <result column="uidimageurl" property="uidimageurl" jdbcType="VARCHAR" />
    <result column="dietLicense" property="dietlicense" jdbcType="VARCHAR" />
    <result column="dietImageUrl" property="dietimageurl" jdbcType="VARCHAR" />
    <result column="sqDate" property="sqdate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userId, userName, uID, uidimageurl, dietLicense, dietImageUrl, sqDate, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqust.pojo.TDietitianExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_dietitian
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_dietitian
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dietitian
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqust.pojo.TDietitianExample" >
    delete from t_dietitian
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqust.pojo.TDietitian" >
    insert into t_dietitian (id, userId, userName, 
      uID, uidimageurl, dietLicense, 
      dietImageUrl, sqDate, status
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{uid,jdbcType=VARCHAR}, #{uidimageurl,jdbcType=VARCHAR}, #{dietlicense,jdbcType=VARCHAR}, 
      #{dietimageurl,jdbcType=VARCHAR}, #{sqdate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.pojo.TDietitian" >
    insert into t_dietitian
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="uid != null" >
        uID,
      </if>
      <if test="uidimageurl != null" >
        uidimageurl,
      </if>
      <if test="dietlicense != null" >
        dietLicense,
      </if>
      <if test="dietimageurl != null" >
        dietImageUrl,
      </if>
      <if test="sqdate != null" >
        sqDate,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="uidimageurl != null" >
        #{uidimageurl,jdbcType=VARCHAR},
      </if>
      <if test="dietlicense != null" >
        #{dietlicense,jdbcType=VARCHAR},
      </if>
      <if test="dietimageurl != null" >
        #{dietimageurl,jdbcType=VARCHAR},
      </if>
      <if test="sqdate != null" >
        #{sqdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqust.pojo.TDietitianExample" resultType="java.lang.Integer" >
    select count(*) from t_dietitian
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_dietitian
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uID = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.uidimageurl != null" >
        uidimageurl = #{record.uidimageurl,jdbcType=VARCHAR},
      </if>
      <if test="record.dietlicense != null" >
        dietLicense = #{record.dietlicense,jdbcType=VARCHAR},
      </if>
      <if test="record.dietimageurl != null" >
        dietImageUrl = #{record.dietimageurl,jdbcType=VARCHAR},
      </if>
      <if test="record.sqdate != null" >
        sqDate = #{record.sqdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_dietitian
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      uID = #{record.uid,jdbcType=VARCHAR},
      uidimageurl = #{record.uidimageurl,jdbcType=VARCHAR},
      dietLicense = #{record.dietlicense,jdbcType=VARCHAR},
      dietImageUrl = #{record.dietimageurl,jdbcType=VARCHAR},
      sqDate = #{record.sqdate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.pojo.TDietitian" >
    update t_dietitian
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uID = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="uidimageurl != null" >
        uidimageurl = #{uidimageurl,jdbcType=VARCHAR},
      </if>
      <if test="dietlicense != null" >
        dietLicense = #{dietlicense,jdbcType=VARCHAR},
      </if>
      <if test="dietimageurl != null" >
        dietImageUrl = #{dietimageurl,jdbcType=VARCHAR},
      </if>
      <if test="sqdate != null" >
        sqDate = #{sqdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.pojo.TDietitian" >
    update t_dietitian
    set userId = #{userid,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      uID = #{uid,jdbcType=VARCHAR},
      uidimageurl = #{uidimageurl,jdbcType=VARCHAR},
      dietLicense = #{dietlicense,jdbcType=VARCHAR},
      dietImageUrl = #{dietimageurl,jdbcType=VARCHAR},
      sqDate = #{sqdate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>