<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.mapper.TDietitioncommentMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.pojo.TDietitioncomment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="comText" property="comtext" jdbcType="VARCHAR" />
    <result column="comLevel" property="comlevel" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="conTime" property="contime" jdbcType="TIMESTAMP" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, comText, comLevel, userId, conTime, userName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqust.pojo.TDietitioncommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_dietitioncomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_dietitioncomment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dietitioncomment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqust.pojo.TDietitioncommentExample" >
    delete from t_dietitioncomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqust.pojo.TDietitioncomment" >
    insert into t_dietitioncomment (id, comText, comLevel, 
      userId, conTime, userName
      )
    values (#{id,jdbcType=INTEGER}, #{comtext,jdbcType=VARCHAR}, #{comlevel,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{contime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.pojo.TDietitioncomment" >
    insert into t_dietitioncomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="comtext != null" >
        comText,
      </if>
      <if test="comlevel != null" >
        comLevel,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="contime != null" >
        conTime,
      </if>
      <if test="username != null" >
        userName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="comtext != null" >
        #{comtext,jdbcType=VARCHAR},
      </if>
      <if test="comlevel != null" >
        #{comlevel,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="contime != null" >
        #{contime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqust.pojo.TDietitioncommentExample" resultType="java.lang.Integer" >
    select count(*) from t_dietitioncomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_dietitioncomment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.comtext != null" >
        comText = #{record.comtext,jdbcType=VARCHAR},
      </if>
      <if test="record.comlevel != null" >
        comLevel = #{record.comlevel,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.contime != null" >
        conTime = #{record.contime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.username != null" >
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_dietitioncomment
    set id = #{record.id,jdbcType=INTEGER},
      comText = #{record.comtext,jdbcType=VARCHAR},
      comLevel = #{record.comlevel,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      conTime = #{record.contime,jdbcType=TIMESTAMP},
      userName = #{record.username,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.pojo.TDietitioncomment" >
    update t_dietitioncomment
    <set >
      <if test="comtext != null" >
        comText = #{comtext,jdbcType=VARCHAR},
      </if>
      <if test="comlevel != null" >
        comLevel = #{comlevel,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="contime != null" >
        conTime = #{contime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.pojo.TDietitioncomment" >
    update t_dietitioncomment
    set comText = #{comtext,jdbcType=VARCHAR},
      comLevel = #{comlevel,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      conTime = #{contime,jdbcType=TIMESTAMP},
      userName = #{username,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>