<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.mapper.TOrderMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.pojo.TOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="orderTime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="orderStates" property="orderstates" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="userPhone" property="userphone" jdbcType="VARCHAR" />
    <result column="userAddr" property="useraddr" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="storeid" property="storeid" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="delstatus" property="delstatus" jdbcType="INTEGER" />
    <result column="ordercomment" property="ordercomment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, total, orderTime, orderStates, userName, userPhone, userAddr, userId, storeid, 
    message, delstatus, ordercomment
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqust.pojo.TOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqust.pojo.TOrderExample" >
    delete from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqust.pojo.TOrder" >
    insert into t_order (id, total, orderTime, 
      orderStates, userName, userPhone, 
      userAddr, userId, storeid, 
      message, delstatus, ordercomment
      )
    values (#{id,jdbcType=INTEGER}, #{total,jdbcType=DOUBLE}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{orderstates,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userphone,jdbcType=VARCHAR}, 
      #{useraddr,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}, 
      #{message,jdbcType=VARCHAR}, #{delstatus,jdbcType=INTEGER}, #{ordercomment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.pojo.TOrder" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="ordertime != null" >
        orderTime,
      </if>
      <if test="orderstates != null" >
        orderStates,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="userphone != null" >
        userPhone,
      </if>
      <if test="useraddr != null" >
        userAddr,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="storeid != null" >
        storeid,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="delstatus != null" >
        delstatus,
      </if>
      <if test="ordercomment != null" >
        ordercomment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderstates != null" >
        #{orderstates,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null" >
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="useraddr != null" >
        #{useraddr,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="delstatus != null" >
        #{delstatus,jdbcType=INTEGER},
      </if>
      <if test="ordercomment != null" >
        #{ordercomment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqust.pojo.TOrderExample" resultType="java.lang.Integer" >
    select count(*) from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=DOUBLE},
      </if>
      <if test="record.ordertime != null" >
        orderTime = #{record.ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderstates != null" >
        orderStates = #{record.orderstates,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userphone != null" >
        userPhone = #{record.userphone,jdbcType=VARCHAR},
      </if>
      <if test="record.useraddr != null" >
        userAddr = #{record.useraddr,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.storeid != null" >
        storeid = #{record.storeid,jdbcType=INTEGER},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.delstatus != null" >
        delstatus = #{record.delstatus,jdbcType=INTEGER},
      </if>
      <if test="record.ordercomment != null" >
        ordercomment = #{record.ordercomment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_order
    set id = #{record.id,jdbcType=INTEGER},
      total = #{record.total,jdbcType=DOUBLE},
      orderTime = #{record.ordertime,jdbcType=TIMESTAMP},
      orderStates = #{record.orderstates,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      userPhone = #{record.userphone,jdbcType=VARCHAR},
      userAddr = #{record.useraddr,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=INTEGER},
      storeid = #{record.storeid,jdbcType=INTEGER},
      message = #{record.message,jdbcType=VARCHAR},
      delstatus = #{record.delstatus,jdbcType=INTEGER},
      ordercomment = #{record.ordercomment,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.pojo.TOrder" >
    update t_order
    <set >
      <if test="total != null" >
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="ordertime != null" >
        orderTime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderstates != null" >
        orderStates = #{orderstates,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null" >
        userPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="useraddr != null" >
        userAddr = #{useraddr,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="storeid != null" >
        storeid = #{storeid,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="delstatus != null" >
        delstatus = #{delstatus,jdbcType=INTEGER},
      </if>
      <if test="ordercomment != null" >
        ordercomment = #{ordercomment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.pojo.TOrder" >
    update t_order
    set total = #{total,jdbcType=DOUBLE},
      orderTime = #{ordertime,jdbcType=TIMESTAMP},
      orderStates = #{orderstates,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=VARCHAR},
      userAddr = #{useraddr,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      storeid = #{storeid,jdbcType=INTEGER},
      message = #{message,jdbcType=VARCHAR},
      delstatus = #{delstatus,jdbcType=INTEGER},
      ordercomment = #{ordercomment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>