<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.mapper.TOrderstatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.pojo.TOrderstatistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="storeSqCount" property="storesqcount" jdbcType="INTEGER" />
    <result column="totalOrderCount" property="totalordercount" jdbcType="INTEGER" />
    <result column="cancelOrderCount" property="cancelordercount" jdbcType="INTEGER" />
    <result column="complOrderCount" property="complordercount" jdbcType="INTEGER" />
    <result column="totalAmount" property="totalamount" jdbcType="DOUBLE" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, storeSqCount, totalOrderCount, cancelOrderCount, complOrderCount, totalAmount, 
    time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqust.pojo.TOrderstatisticsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_orderstatistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_orderstatistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_orderstatistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqust.pojo.TOrderstatisticsExample" >
    delete from t_orderstatistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqust.pojo.TOrderstatistics" >
    insert into t_orderstatistics (id, storeSqCount, totalOrderCount, 
      cancelOrderCount, complOrderCount, totalAmount, 
      time)
    values (#{id,jdbcType=INTEGER}, #{storesqcount,jdbcType=INTEGER}, #{totalordercount,jdbcType=INTEGER}, 
      #{cancelordercount,jdbcType=INTEGER}, #{complordercount,jdbcType=INTEGER}, #{totalamount,jdbcType=DOUBLE}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.pojo.TOrderstatistics" >
    insert into t_orderstatistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storesqcount != null" >
        storeSqCount,
      </if>
      <if test="totalordercount != null" >
        totalOrderCount,
      </if>
      <if test="cancelordercount != null" >
        cancelOrderCount,
      </if>
      <if test="complordercount != null" >
        complOrderCount,
      </if>
      <if test="totalamount != null" >
        totalAmount,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storesqcount != null" >
        #{storesqcount,jdbcType=INTEGER},
      </if>
      <if test="totalordercount != null" >
        #{totalordercount,jdbcType=INTEGER},
      </if>
      <if test="cancelordercount != null" >
        #{cancelordercount,jdbcType=INTEGER},
      </if>
      <if test="complordercount != null" >
        #{complordercount,jdbcType=INTEGER},
      </if>
      <if test="totalamount != null" >
        #{totalamount,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqust.pojo.TOrderstatisticsExample" resultType="java.lang.Integer" >
    select count(*) from t_orderstatistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_orderstatistics
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.storesqcount != null" >
        storeSqCount = #{record.storesqcount,jdbcType=INTEGER},
      </if>
      <if test="record.totalordercount != null" >
        totalOrderCount = #{record.totalordercount,jdbcType=INTEGER},
      </if>
      <if test="record.cancelordercount != null" >
        cancelOrderCount = #{record.cancelordercount,jdbcType=INTEGER},
      </if>
      <if test="record.complordercount != null" >
        complOrderCount = #{record.complordercount,jdbcType=INTEGER},
      </if>
      <if test="record.totalamount != null" >
        totalAmount = #{record.totalamount,jdbcType=DOUBLE},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_orderstatistics
    set id = #{record.id,jdbcType=INTEGER},
      storeSqCount = #{record.storesqcount,jdbcType=INTEGER},
      totalOrderCount = #{record.totalordercount,jdbcType=INTEGER},
      cancelOrderCount = #{record.cancelordercount,jdbcType=INTEGER},
      complOrderCount = #{record.complordercount,jdbcType=INTEGER},
      totalAmount = #{record.totalamount,jdbcType=DOUBLE},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.pojo.TOrderstatistics" >
    update t_orderstatistics
    <set >
      <if test="storesqcount != null" >
        storeSqCount = #{storesqcount,jdbcType=INTEGER},
      </if>
      <if test="totalordercount != null" >
        totalOrderCount = #{totalordercount,jdbcType=INTEGER},
      </if>
      <if test="cancelordercount != null" >
        cancelOrderCount = #{cancelordercount,jdbcType=INTEGER},
      </if>
      <if test="complordercount != null" >
        complOrderCount = #{complordercount,jdbcType=INTEGER},
      </if>
      <if test="totalamount != null" >
        totalAmount = #{totalamount,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.pojo.TOrderstatistics" >
    update t_orderstatistics
    set storeSqCount = #{storesqcount,jdbcType=INTEGER},
      totalOrderCount = #{totalordercount,jdbcType=INTEGER},
      cancelOrderCount = #{cancelordercount,jdbcType=INTEGER},
      complOrderCount = #{complordercount,jdbcType=INTEGER},
      totalAmount = #{totalamount,jdbcType=DOUBLE},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>