<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.mapper.TPcommentMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.pojo.TPcomment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="comText" property="comtext" jdbcType="VARCHAR" />
    <result column="comType" property="comtype" jdbcType="INTEGER" />
    <result column="comLevel" property="comlevel" jdbcType="INTEGER" />
    <result column="pId" property="pid" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="orderitemid" property="orderitemid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, comText, comType, comLevel, pId, userName, time, userId, orderitemid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqust.pojo.TPcommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_pcomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_pcomment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_pcomment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqust.pojo.TPcommentExample" >
    delete from t_pcomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqust.pojo.TPcomment" >
    insert into t_pcomment (id, comText, comType, 
      comLevel, pId, userName, 
      time, userId, orderitemid
      )
    values (#{id,jdbcType=INTEGER}, #{comtext,jdbcType=VARCHAR}, #{comtype,jdbcType=INTEGER}, 
      #{comlevel,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{userid,jdbcType=INTEGER}, #{orderitemid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.pojo.TPcomment" >
    insert into t_pcomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="comtext != null" >
        comText,
      </if>
      <if test="comtype != null" >
        comType,
      </if>
      <if test="comlevel != null" >
        comLevel,
      </if>
      <if test="pid != null" >
        pId,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="orderitemid != null" >
        orderitemid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="comtext != null" >
        #{comtext,jdbcType=VARCHAR},
      </if>
      <if test="comtype != null" >
        #{comtype,jdbcType=INTEGER},
      </if>
      <if test="comlevel != null" >
        #{comlevel,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="orderitemid != null" >
        #{orderitemid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqust.pojo.TPcommentExample" resultType="java.lang.Integer" >
    select count(*) from t_pcomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_pcomment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.comtext != null" >
        comText = #{record.comtext,jdbcType=VARCHAR},
      </if>
      <if test="record.comtype != null" >
        comType = #{record.comtype,jdbcType=INTEGER},
      </if>
      <if test="record.comlevel != null" >
        comLevel = #{record.comlevel,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pId = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.orderitemid != null" >
        orderitemid = #{record.orderitemid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_pcomment
    set id = #{record.id,jdbcType=INTEGER},
      comText = #{record.comtext,jdbcType=VARCHAR},
      comType = #{record.comtype,jdbcType=INTEGER},
      comLevel = #{record.comlevel,jdbcType=INTEGER},
      pId = #{record.pid,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      userId = #{record.userid,jdbcType=INTEGER},
      orderitemid = #{record.orderitemid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.pojo.TPcomment" >
    update t_pcomment
    <set >
      <if test="comtext != null" >
        comText = #{comtext,jdbcType=VARCHAR},
      </if>
      <if test="comtype != null" >
        comType = #{comtype,jdbcType=INTEGER},
      </if>
      <if test="comlevel != null" >
        comLevel = #{comlevel,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pId = #{pid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="orderitemid != null" >
        orderitemid = #{orderitemid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.pojo.TPcomment" >
    update t_pcomment
    set comText = #{comtext,jdbcType=VARCHAR},
      comType = #{comtype,jdbcType=INTEGER},
      comLevel = #{comlevel,jdbcType=INTEGER},
      pId = #{pid,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      userId = #{userid,jdbcType=INTEGER},
      orderitemid = #{orderitemid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>