<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.mapper.TSportsoptionMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.pojo.TSportsoption" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sportname" property="sportname" jdbcType="VARCHAR" />
    <result column="energy" property="energy" jdbcType="DOUBLE" />
    <result column="sportdescribe" property="sportdescribe" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sportname, energy, sportdescribe
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqust.pojo.TSportsoptionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sportsoption
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sportsoption
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sportsoption
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqust.pojo.TSportsoptionExample" >
    delete from t_sportsoption
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqust.pojo.TSportsoption" >
    insert into t_sportsoption (id, sportname, energy, 
      sportdescribe)
    values (#{id,jdbcType=INTEGER}, #{sportname,jdbcType=VARCHAR}, #{energy,jdbcType=DOUBLE}, 
      #{sportdescribe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.pojo.TSportsoption" >
    insert into t_sportsoption
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sportname != null" >
        sportname,
      </if>
      <if test="energy != null" >
        energy,
      </if>
      <if test="sportdescribe != null" >
        sportdescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sportname != null" >
        #{sportname,jdbcType=VARCHAR},
      </if>
      <if test="energy != null" >
        #{energy,jdbcType=DOUBLE},
      </if>
      <if test="sportdescribe != null" >
        #{sportdescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqust.pojo.TSportsoptionExample" resultType="java.lang.Integer" >
    select count(*) from t_sportsoption
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sportsoption
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sportname != null" >
        sportname = #{record.sportname,jdbcType=VARCHAR},
      </if>
      <if test="record.energy != null" >
        energy = #{record.energy,jdbcType=DOUBLE},
      </if>
      <if test="record.sportdescribe != null" >
        sportdescribe = #{record.sportdescribe,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sportsoption
    set id = #{record.id,jdbcType=INTEGER},
      sportname = #{record.sportname,jdbcType=VARCHAR},
      energy = #{record.energy,jdbcType=DOUBLE},
      sportdescribe = #{record.sportdescribe,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.pojo.TSportsoption" >
    update t_sportsoption
    <set >
      <if test="sportname != null" >
        sportname = #{sportname,jdbcType=VARCHAR},
      </if>
      <if test="energy != null" >
        energy = #{energy,jdbcType=DOUBLE},
      </if>
      <if test="sportdescribe != null" >
        sportdescribe = #{sportdescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.pojo.TSportsoption" >
    update t_sportsoption
    set sportname = #{sportname,jdbcType=VARCHAR},
      energy = #{energy,jdbcType=DOUBLE},
      sportdescribe = #{sportdescribe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>