<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.mapper.TSportplanbyselfMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.pojo.TSportplanbyself" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="sportid" property="sportid" jdbcType="INTEGER" />
    <result column="sportname" property="sportname" jdbcType="VARCHAR" />
    <result column="sportdescribe" property="sportdescribe" jdbcType="VARCHAR" />
    <result column="plandate" property="plandate" jdbcType="TIMESTAMP" />
    <result column="planid" property="planid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, sportid, sportname, sportdescribe, plandate, planid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqust.pojo.TSportplanbyselfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sportplanbyself
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sportplanbyself
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sportplanbyself
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqust.pojo.TSportplanbyselfExample" >
    delete from t_sportplanbyself
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqust.pojo.TSportplanbyself" >
    insert into t_sportplanbyself (id, userid, sportid, 
      sportname, sportdescribe, plandate, 
      planid)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{sportid,jdbcType=INTEGER}, 
      #{sportname,jdbcType=VARCHAR}, #{sportdescribe,jdbcType=VARCHAR}, #{plandate,jdbcType=TIMESTAMP}, 
      #{planid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.pojo.TSportplanbyself" >
    insert into t_sportplanbyself
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="sportid != null" >
        sportid,
      </if>
      <if test="sportname != null" >
        sportname,
      </if>
      <if test="sportdescribe != null" >
        sportdescribe,
      </if>
      <if test="plandate != null" >
        plandate,
      </if>
      <if test="planid != null" >
        planid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="sportid != null" >
        #{sportid,jdbcType=INTEGER},
      </if>
      <if test="sportname != null" >
        #{sportname,jdbcType=VARCHAR},
      </if>
      <if test="sportdescribe != null" >
        #{sportdescribe,jdbcType=VARCHAR},
      </if>
      <if test="plandate != null" >
        #{plandate,jdbcType=TIMESTAMP},
      </if>
      <if test="planid != null" >
        #{planid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqust.pojo.TSportplanbyselfExample" resultType="java.lang.Integer" >
    select count(*) from t_sportplanbyself
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sportplanbyself
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.sportid != null" >
        sportid = #{record.sportid,jdbcType=INTEGER},
      </if>
      <if test="record.sportname != null" >
        sportname = #{record.sportname,jdbcType=VARCHAR},
      </if>
      <if test="record.sportdescribe != null" >
        sportdescribe = #{record.sportdescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.plandate != null" >
        plandate = #{record.plandate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planid != null" >
        planid = #{record.planid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sportplanbyself
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      sportid = #{record.sportid,jdbcType=INTEGER},
      sportname = #{record.sportname,jdbcType=VARCHAR},
      sportdescribe = #{record.sportdescribe,jdbcType=VARCHAR},
      plandate = #{record.plandate,jdbcType=TIMESTAMP},
      planid = #{record.planid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.pojo.TSportplanbyself" >
    update t_sportplanbyself
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="sportid != null" >
        sportid = #{sportid,jdbcType=INTEGER},
      </if>
      <if test="sportname != null" >
        sportname = #{sportname,jdbcType=VARCHAR},
      </if>
      <if test="sportdescribe != null" >
        sportdescribe = #{sportdescribe,jdbcType=VARCHAR},
      </if>
      <if test="plandate != null" >
        plandate = #{plandate,jdbcType=TIMESTAMP},
      </if>
      <if test="planid != null" >
        planid = #{planid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.pojo.TSportplanbyself" >
    update t_sportplanbyself
    set userid = #{userid,jdbcType=INTEGER},
      sportid = #{sportid,jdbcType=INTEGER},
      sportname = #{sportname,jdbcType=VARCHAR},
      sportdescribe = #{sportdescribe,jdbcType=VARCHAR},
      plandate = #{plandate,jdbcType=TIMESTAMP},
      planid = #{planid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>