<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.mapper.TStoretuisongMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.pojo.TStoretuisong" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="storeId" property="storeid" jdbcType="INTEGER" />
    <result column="storeName" property="storename" jdbcType="VARCHAR" />
    <result column="tsTime" property="tstime" jdbcType="TIMESTAMP" />
    <result column="tsText" property="tstext" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, storeId, storeName, tsTime, tsText
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqust.pojo.TStoretuisongExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_storetuisong
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_storetuisong
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_storetuisong
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqust.pojo.TStoretuisongExample" >
    delete from t_storetuisong
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqust.pojo.TStoretuisong" >
    insert into t_storetuisong (id, storeId, storeName, 
      tsTime, tsText)
    values (#{id,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}, #{storename,jdbcType=VARCHAR}, 
      #{tstime,jdbcType=TIMESTAMP}, #{tstext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.pojo.TStoretuisong" >
    insert into t_storetuisong
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeid != null" >
        storeId,
      </if>
      <if test="storename != null" >
        storeName,
      </if>
      <if test="tstime != null" >
        tsTime,
      </if>
      <if test="tstext != null" >
        tsText,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="storename != null" >
        #{storename,jdbcType=VARCHAR},
      </if>
      <if test="tstime != null" >
        #{tstime,jdbcType=TIMESTAMP},
      </if>
      <if test="tstext != null" >
        #{tstext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqust.pojo.TStoretuisongExample" resultType="java.lang.Integer" >
    select count(*) from t_storetuisong
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_storetuisong
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.storeid != null" >
        storeId = #{record.storeid,jdbcType=INTEGER},
      </if>
      <if test="record.storename != null" >
        storeName = #{record.storename,jdbcType=VARCHAR},
      </if>
      <if test="record.tstime != null" >
        tsTime = #{record.tstime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tstext != null" >
        tsText = #{record.tstext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_storetuisong
    set id = #{record.id,jdbcType=INTEGER},
      storeId = #{record.storeid,jdbcType=INTEGER},
      storeName = #{record.storename,jdbcType=VARCHAR},
      tsTime = #{record.tstime,jdbcType=TIMESTAMP},
      tsText = #{record.tstext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.pojo.TStoretuisong" >
    update t_storetuisong
    <set >
      <if test="storeid != null" >
        storeId = #{storeid,jdbcType=INTEGER},
      </if>
      <if test="storename != null" >
        storeName = #{storename,jdbcType=VARCHAR},
      </if>
      <if test="tstime != null" >
        tsTime = #{tstime,jdbcType=TIMESTAMP},
      </if>
      <if test="tstext != null" >
        tsText = #{tstext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.pojo.TStoretuisong" >
    update t_storetuisong
    set storeId = #{storeid,jdbcType=INTEGER},
      storeName = #{storename,jdbcType=VARCHAR},
      tsTime = #{tstime,jdbcType=TIMESTAMP},
      tsText = #{tstext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>