<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.mapper.TUserinfoMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.pojo.TUserinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="passWord" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="createdTime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="updatedTime" property="updatedtime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="stateCode" property="statecode" jdbcType="VARCHAR" />
    <result column="dietitianId" property="dietitianid" jdbcType="INTEGER" />
    <result column="is_vip" property="isVip" jdbcType="INTEGER" />
    <result column="isstore" property="isstore" jdbcType="INTEGER" />
    <result column="isdiet" property="isdiet" jdbcType="INTEGER" />
    <result column="isadmin" property="isadmin" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, image, sex, userName, passWord, name, phone, email, createdTime, updatedTime, 
    state, stateCode, dietitianId, is_vip, isstore, isdiet, isadmin
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqust.pojo.TUserinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqust.pojo.TUserinfoExample" >
    delete from t_userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqust.pojo.TUserinfo" >
    insert into t_userinfo (id, image, sex, 
      userName, passWord, name, 
      phone, email, createdTime, 
      updatedTime, state, stateCode, 
      dietitianId, is_vip, isstore, 
      isdiet, isadmin)
    values (#{id,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createdtime,jdbcType=TIMESTAMP}, 
      #{updatedtime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{statecode,jdbcType=VARCHAR}, 
      #{dietitianid,jdbcType=INTEGER}, #{isVip,jdbcType=INTEGER}, #{isstore,jdbcType=INTEGER}, 
      #{isdiet,jdbcType=INTEGER}, #{isadmin,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.pojo.TUserinfo" >
    insert into t_userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="password != null" >
        passWord,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createdtime != null" >
        createdTime,
      </if>
      <if test="updatedtime != null" >
        updatedTime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="statecode != null" >
        stateCode,
      </if>
      <if test="dietitianid != null" >
        dietitianId,
      </if>
      <if test="isVip != null" >
        is_vip,
      </if>
      <if test="isstore != null" >
        isstore,
      </if>
      <if test="isdiet != null" >
        isdiet,
      </if>
      <if test="isadmin != null" >
        isadmin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedtime != null" >
        #{updatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="statecode != null" >
        #{statecode,jdbcType=VARCHAR},
      </if>
      <if test="dietitianid != null" >
        #{dietitianid,jdbcType=INTEGER},
      </if>
      <if test="isVip != null" >
        #{isVip,jdbcType=INTEGER},
      </if>
      <if test="isstore != null" >
        #{isstore,jdbcType=INTEGER},
      </if>
      <if test="isdiet != null" >
        #{isdiet,jdbcType=INTEGER},
      </if>
      <if test="isadmin != null" >
        #{isadmin,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqust.pojo.TUserinfoExample" resultType="java.lang.Integer" >
    select count(*) from t_userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_userinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        passWord = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.createdtime != null" >
        createdTime = #{record.createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedtime != null" >
        updatedTime = #{record.updatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.statecode != null" >
        stateCode = #{record.statecode,jdbcType=VARCHAR},
      </if>
      <if test="record.dietitianid != null" >
        dietitianId = #{record.dietitianid,jdbcType=INTEGER},
      </if>
      <if test="record.isVip != null" >
        is_vip = #{record.isVip,jdbcType=INTEGER},
      </if>
      <if test="record.isstore != null" >
        isstore = #{record.isstore,jdbcType=INTEGER},
      </if>
      <if test="record.isdiet != null" >
        isdiet = #{record.isdiet,jdbcType=INTEGER},
      </if>
      <if test="record.isadmin != null" >
        isadmin = #{record.isadmin,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_userinfo
    set id = #{record.id,jdbcType=INTEGER},
      image = #{record.image,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      passWord = #{record.password,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      createdTime = #{record.createdtime,jdbcType=TIMESTAMP},
      updatedTime = #{record.updatedtime,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=INTEGER},
      stateCode = #{record.statecode,jdbcType=VARCHAR},
      dietitianId = #{record.dietitianid,jdbcType=INTEGER},
      is_vip = #{record.isVip,jdbcType=INTEGER},
      isstore = #{record.isstore,jdbcType=INTEGER},
      isdiet = #{record.isdiet,jdbcType=INTEGER},
      isadmin = #{record.isadmin,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.pojo.TUserinfo" >
    update t_userinfo
    <set >
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        passWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null" >
        createdTime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedtime != null" >
        updatedTime = #{updatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="statecode != null" >
        stateCode = #{statecode,jdbcType=VARCHAR},
      </if>
      <if test="dietitianid != null" >
        dietitianId = #{dietitianid,jdbcType=INTEGER},
      </if>
      <if test="isVip != null" >
        is_vip = #{isVip,jdbcType=INTEGER},
      </if>
      <if test="isstore != null" >
        isstore = #{isstore,jdbcType=INTEGER},
      </if>
      <if test="isdiet != null" >
        isdiet = #{isdiet,jdbcType=INTEGER},
      </if>
      <if test="isadmin != null" >
        isadmin = #{isadmin,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.pojo.TUserinfo" >
    update t_userinfo
    set image = #{image,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      passWord = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      createdTime = #{createdtime,jdbcType=TIMESTAMP},
      updatedTime = #{updatedtime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      stateCode = #{statecode,jdbcType=VARCHAR},
      dietitianId = #{dietitianid,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=INTEGER},
      isstore = #{isstore,jdbcType=INTEGER},
      isdiet = #{isdiet,jdbcType=INTEGER},
      isadmin = #{isadmin,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>