<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.mapper.TUsersportsplanMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.pojo.TUsersportsplan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="dietitionId" property="dietitionid" jdbcType="INTEGER" />
    <result column="soprtsDate" property="soprtsdate" jdbcType="TIMESTAMP" />
    <result column="planSportsId" property="plansportsid" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userId, dietitionId, soprtsDate, planSportsId, remarks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqust.pojo.TUsersportsplanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_usersportsplan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_usersportsplan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_usersportsplan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqust.pojo.TUsersportsplanExample" >
    delete from t_usersportsplan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqust.pojo.TUsersportsplan" >
    insert into t_usersportsplan (id, userId, dietitionId, 
      soprtsDate, planSportsId, remarks
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{dietitionid,jdbcType=INTEGER}, 
      #{soprtsdate,jdbcType=TIMESTAMP}, #{plansportsid,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.pojo.TUsersportsplan" >
    insert into t_usersportsplan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="dietitionid != null" >
        dietitionId,
      </if>
      <if test="soprtsdate != null" >
        soprtsDate,
      </if>
      <if test="plansportsid != null" >
        planSportsId,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="dietitionid != null" >
        #{dietitionid,jdbcType=INTEGER},
      </if>
      <if test="soprtsdate != null" >
        #{soprtsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="plansportsid != null" >
        #{plansportsid,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqust.pojo.TUsersportsplanExample" resultType="java.lang.Integer" >
    select count(*) from t_usersportsplan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_usersportsplan
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.dietitionid != null" >
        dietitionId = #{record.dietitionid,jdbcType=INTEGER},
      </if>
      <if test="record.soprtsdate != null" >
        soprtsDate = #{record.soprtsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.plansportsid != null" >
        planSportsId = #{record.plansportsid,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_usersportsplan
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      dietitionId = #{record.dietitionid,jdbcType=INTEGER},
      soprtsDate = #{record.soprtsdate,jdbcType=TIMESTAMP},
      planSportsId = #{record.plansportsid,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.pojo.TUsersportsplan" >
    update t_usersportsplan
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="dietitionid != null" >
        dietitionId = #{dietitionid,jdbcType=INTEGER},
      </if>
      <if test="soprtsdate != null" >
        soprtsDate = #{soprtsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="plansportsid != null" >
        planSportsId = #{plansportsid,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.pojo.TUsersportsplan" >
    update t_usersportsplan
    set userId = #{userid,jdbcType=INTEGER},
      dietitionId = #{dietitionid,jdbcType=INTEGER},
      soprtsDate = #{soprtsdate,jdbcType=TIMESTAMP},
      planSportsId = #{plansportsid,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>