
div.pagination {
	height: 20px;
	float: right;
	margin-bottom: 10px;
}

div.pagination a, div.pagination span {
	height: 18px;
	line-height: 18px;
	display: inline;
	float: left;
	margin-left: 3px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
}

div.pagination a {
	padding: 0px 5px;
	border: 1px solid #cccccc;
}

div.pagination a:hover {
	border: 1px solid #fd6d01;
	text-decoration: none;
}

div.pagination a.previousPage {
	width: 18px;
	padding: 0px;
	background: url(/images/common.gif) 0px -180px no-repeat;
}

div.pagination span.previousPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(/images/common.gif) -30px -180px no-repeat;
}

div.pagination a.nextPage {
	width: 18px;
	padding: 0px;
	background: url(/images/common.gif) 0px -210px no-repeat;
}

div.pagination span.nextPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(/images/common.gif) -30px -210px no-repeat;
}

div.pagination a.firstPage {
	width: 18px;
	padding: 0px;
	background: url(/images/common.gif) -60px -180px no-repeat;
}

div.pagination span.firstPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(/images/common.gif) -90px -180px no-repeat;
}

div.pagination a.lastPage {
	width: 18px;
	padding: 0px;
	background: url(/images/common.gif) -60px -210px no-repeat;
}

div.pagination span.lastPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(/images/common.gif) -90px -210px no-repeat;
}

div.pagination .currentPage {
	padding: 0px 5px;
	color: #fd6d01!important;
	font-weight: bold;
	cursor: default;
	border: 1px solid #fd6d01;
	background-color: #ffede1;
}

div.pagination .pageBreak {
	padding: 0px 5px;
	color: #3366cc;
	cursor: default;
}