
body{ background:#fff;}

.wrap{width:960px;margin:0 auto;text-align:left;}
/*top-nav*/
.topbg{ background:url(../images/topbg.jpg) repeat-x; height:40px; padding-top:2px; line-height:40px;}

	.top-col-1{width:483px; float:left; }
	a.app,a.mob,a.sina,a.weibo,a.login,a.map,a.fav,a.ind{ cursor:pointer;background-image:url(../images/top-ico.gif); background-repeat:no-repeat; display:inline-block; height:38px;}
	.topbg a:hover{ text-decoration:underline;}
	a.app,a.mob{ float:left; color:#c3141b;}
	a.app{ background-position:10px top; padding:0 10px 0 35px;}
	a.mob{ background-position:5px -42px;padding:0 10px 0 25px;}
	a.sina,a.weibo{ display:block;width:21px; height:38px; float:left; margin:0 5px;}
	a.sina{ background-position:left -254px;}
	a.weibo{ background-position:-31px -254px;}
	.top-col-2{width:285; float:right;}
	a.app,a.mob,a.login,a.reg,a.fav{display:block;}
	a.login{ background-position:5px -85px; padding-left:25px;color:#c3141b; float:left;}
	a.reg{padding:0 10px;float:left;}
	a.fav{ float:left; background-position:6px -127px; padding:0 5px 0 25px;}
	a.map{ float:left; background-position:3px -168px; padding:0 5px 0 25px;}
	a.ind{ float:left; background-position:3px -212px; padding:0 5px 0 25px;}

	.top-col-3{ float:right;}
	#dropdown_nav li{float:left;position:relative;}
	#dropdown_nav .sub_nav{display:none;padding:5px; background:#fff; border:1px solid #eee;position:absolute;top:36px;left:0px;}
	.sub_nav li img{ display:block;}
	
/*head*/
.headbox{ background: url(../images/banner.jpg) no-repeat center top; height:394px;}
.first{ height:68px; /*margin-bottom:10px;*/}
/*nav*/
.nav,.hdline h2,.title h3,.flink h3,.hd,.sub-tit,.main-list li h4,.sub-nav,.df_sub-nav,.lev3-on,.news-tit,.rel h3,.news-li dt,.yuq-list1 li,.telbox p,.yahei,.tab-tit{ font-family:Microsoft YaHei;}
.navbox,.navbox_home{border-top:0px solid #dfdfdf;margin:10px 0; padding:10px 0; height:auto;}
.navbox_home{ border-bottom:4px solid #c3141b; }
	.nav dl,.nav dt,.nav dd{ float:left;}
	.nav{/*float:left;*/width:660px;padding-left:5px; color:#505050;}
	.nav dl{padding-right:10px;height:28px; line-height:28px; font-size:1.2em;}
	.nav dt{ font-weight:bold;}
	.nav dd{padding-left:10px;*padding-left:6px;_padding-left:6px;}
	.nav-els{width:280px;height:52px;border:1px solid #e0e2dd; /*float:right;*/ padding:0 4px; line-height:26px; color:#000; position:relative;}
	.nav-els strong{ color:#c3141b;}
	.nav-els a{ margin-left:3px;_display:inline;}
	.sub-els{ text-align:left; height:26px;position:relative;z-index:2;font-size:0.96em;}
	.sub-els span.ico{ cursor:pointer;position:absolute;width:9px; height:5px; top:10px; right:5px; background: url(../images/ico1.jpg) no-repeat left top;}
	.subMenu1,.subMenu2{ display:none;background:#fff; border:1px solid #efefef; border-top:none;text-align:left;width:270px; padding:10px;z-index:99;}
	.subMenu1{ position:absolute; left:0; top:22px;}
	.subMenu2{ position:absolute; left:0; top:53px;}

.main-left{ float:left;width:720px;}
	.hdline h2{ font-size:42px; height:75px; line-height:75px;font-weight:800; text-align:center;margin-bottom:8px;}
	.hdline h2,.hdline h2 a,.hdline h2 a:link,.hdline h2 a:visited{color:#09548B;}
	/*foucs-img*/
	.focus { width:330px; height:270px; }
	.focus img { width: 330px; height:250px; display: block }
	.focus .hd { padding-left:10px; width:250px;padding-left:36px; margin:15px auto 0;}
	.focus .hd li {width:30px; height:6px; overflow:hidden; font-size:0; float:left; margin-right:10px; background:#dfdfdf;}
	.focus .hd .on{ background:#c3141b; }
	.focus .bd {width: 330px; height: 250px; position: relative;left:0; overflow: hidden }
	.focus .bd ul { position:relative;}
	.focus .bd li { width: 330px; height: 250px; background-color: #fff; position: relative }
	.focus .bd li p { position: absolute; left: 0; bottom: 0; font-size:16px; text-align:center; font-weight:bold;line-height: 35px; height: 35px; width: 330px; white-space: nowrap; overflow: hidden }
	.focus .bd li p i { position: absolute; left: 0; bottom: 0; display: block; width: 330px; height: 35px; background: #000; opacity: .5; filter: alpha(opacity=50) }
	.focus .bd li p a, .focus .bd li p a:visited { position: relative; color: #fff; margin-left: 20px }
	.focus .bd li p a:hover { color: #f60 }
	.focus .prev, .focus .next { position: absolute; bottom: 85px; width: 29px; height: 64px; opacity: .6; filter: alpha(opacity=60); overflow: hidden; display: none; text-indent: -999px; border: none; background:url(../images/arrowLR.png) no-repeat; }
	.focus .prev: hover, .focus .next: hover { opacity: .9; filter: alpha(opacity=90) }
	.focus .prev { left: 0; background-position: -50px 0 }
	.focus .next { right: 0;  }
	.focus .bdOn .prev,.focus .bdOn .next{ display:block;  }
	
	.title{ background:url(../images/titbg.jpg) no-repeat left bottom;padding:13px 0; height:20px; line-height:20px; position:relative;left:0; z-index:1;}
		.title h3,.hd li{color:#010101; font-size:16px; font-weight:normal;}
	.title h3,.title h3 a{color:#010101;font-weight:bold;}
	.main-col-1{width:331px; float:left;}
		.ico-vdo{ position:absolute;left:42px; top:17px;}
		.list{ padding:10px 0;}
		.list li{ height:22px; line-height:22px; background:url(../images/dian.jpg) no-repeat left 10px; padding-left:10px; overflow:hidden;}
		.list li a,.list li a:link,.list li a:visisted{ color:#727272;}
		.vbox{width:155px;padding-top:10px;}
		.vbox ul{ padding:5px 0;}
		.vlist li{ padding-left:20px; height:22px; line-height:22px;background:url(../images/ico-vdo2.jpg) no-repeat left 5px; overflow:hidden;}
		
		
	.main-col-2{ float:left;width:370px; padding-left:15px;}
	.main-col-2 dl{ padding:5px 0;}
	.main-col-2 dd,.main-col-2 dt{height:26px; line-height:26px; overflow:hidden; font-size:14px;}
	.main-col-2 dt a,.main-col-2 dd a{color:#003e64; }
	.main-col-2 dl dt{ font-weight:bold;font-size:16px; padding-bottom:5px;}
	.main-col-2 .list{ border-bottom:1px solid #ededed; }
	.main-col-2 .list dt,.main-col-2 dl dd{padding-left:15px; background:url(../images/dian.jpg) no-repeat left 11px;}
	
	
	.main-col-3{width:345px;}
		.tit2{ height:26px;margin-top:10px; background:url(../images/linebg.jpg) no-repeat right 12px;}
		.tit2 span,.tit2 em{background:#fff; height:26px; line-height:26px;padding:0 6px;color:#c3141b; }
		.tit2 span,.tit2 span a{float:left; display:block; color:#c3141b; font-size:14px;  font-weight:bold;}
		.tit2 em{ font-size:12px; font-style:normal; float:right;}
		.more{ position:absolute; right:0; bottom:6px;}
	.main-col-3 .hd{ background:none; padding:13px 0 5px 0; border-bottom:1px solid #c3141b; height:27px; position:relative;}
	.main-col-3 .hd li{ position:relative; display:block; float:left; height:22px;padding:0 10px 5px 0 ;margin-right:10px; bottom:-5px; cursor:pointer;}
	.main-col-3 .hd li.on{ border-bottom:4px solid #c3141b; color:#c3141b;font-weight:bold;}
	.main-col-3 .hd li.on a{color:#c3141b;}
	.main-col-4{width:232px;}

.main-right{ float:right;width:220px;}
	.tit-ico{ position:absolute; right:0; bottom:10px;}
	.main-right .list li{ height:24px; line-height:24px;}
	/*Êý×Ö±¨*/
	.sz-bd-bg{ background:#f0f0f0; padding:6px; border:1px solid #e7e7e7;}
	.sz-bd{ background:#fff;padding:10px 5px 0;}
	.bcbg{ background:url(../images/bcbg.jpg) no-repeat; width:22px; height:15px; text-align:center; color:#fff; display:block;}
	.bxbox{ font-size:14px; color:#02437d; font-weight:bold; }
	/*Ö±²¥tab*/
	.zb-tab { padding:15px 0; clear:both; height:22px;}
	.zb-tab span{ display:block; line-height:22px; width:98px;  font-size:14px; font-weight:bold; text-align:center; background:#ededed; color:#003e64;}
	.zb-tab-cont{ line-height:22px;padding-bottom:10px;}
		.redbtn{ background:#c3141b; padding:5px 10px; color:#fff; text-align:center;}




.f14,.f14 li{ font-size:14px;}
.f14 li{ height:24px;line-height:24px;}
/*f-link*/
.flink{ border:1px solid #e2e2e2; padding:10px 15px;}
.flink .hd{ height:25px; clear:both;}
.flink .hd li{ cursor:pointer;display:block; float:left; display:block; padding-right:10px;margin-right:10px; height:25px; line-height:25px; font-size:14px;}
.flink .hd li.on{ color:#c3141b; border-bottom:3px solid #c3141b;}
.flink .alink{ padding-top:15px; line-height:20px; text-align:left; text-align:left;}
.flink .alink a{ color:#505050;}

/*footer*/
.footer{ height:36px; line-height:36px; text-align:center; border-bottom:1px solid #e5e5e5; padding-top:20px;}
.footer,.footer a,.footer a:link,.footer a:visited{ color:#000;}
.copyright{ text-align:center; line-height:22px; padding:15px 0;}
.copyright span{ color:#02437d;}

/*subpage*/
.sub-nav{height:auto; line-height:40px; margin-bottom:20px;border-top:4px solid #c3141b; border-bottom:1px solid #dfdfdf; text-align:left;  color:#505050; font-size:16px;}
.df_sub-nav{height:auto; line-height:40px; margin-bottom:10px;border-top:4px solid #c3141b; border-bottom:1px solid #dfdfdf; text-align:left;  color:#505050; font-size:16px;}
.sub-nav a{ margin:0 9px;}
.sub-left{width:652px; float:left;}
.sub-tit{ height:35px; line-height:35px;}
.sub-tit,.tab-tit{border-top:2px solid #4e4e4e; position:relative;}
.sub-tit h3,.tab-tit h3{color:#c4111a; font-size:20px;font-weight:bold }
.sub-tit .more{ position:absolute;right:10px;top:6px;_top:10px;}
.main-list{ float:left; border-bottom:1px solid #f0f0f0;margin-bottom:30px;}
.main-list li{ float:left; position:relative; padding:15px 70px 15px 12px; color:#505050; border-top:1px solid #f0f0f0; background:#fff;width:570px;text-align: left;}
.main-list li.hover{ background:#f7f7f7; border-top:1px solid #dbdbdb;} 
.main-list li h4{ font-size:18px;padding-bottom:5px;font-weight:bold;}
.main-list li p{ color:#505050; font-size:14px; line-height:22px;}
.main-list li span{ position:absolute; top:6px; right:24px;}
.main-list li.list_more {
    color: #FF0000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.main-list li.list_more a {
    color: #B70000;
}
.sub-right{width:298px; float:right;}

/*	.sub-right .sub-tit{ background:#f9f9f9;}
*/	.hot-list .hd{ background:url(../images/numbg.jpg) no-repeat center top; height:88px; line-height:25px;padding:25px 10px 0 70px; color:#000000; font-size:18px;}
	.hot-list { background:url(../images/numbg2.gif) #f9f9f9 no-repeat 5px 113px;}
	.hot-list li{ height:18px;  font-size:14px;line-height:18px; padding:0 0 12px 28px; text-align:left;}
	.sub-right .vbox{width:140px;}
	.sub-right .sub-tit{ padding:0 10px;}
	.sub-right .list{ padding:10px 12px;}
	.bgf9{ background:#f9f9f9;}
	
.pagebox {height:50px;width: 100%;margin:0 auto;}
.pagebox .aa {float: left;left: 50%;position: relative;}
.page{float: left;height:50px;position: relative;right: 50%;z-index: 2;overflow:visible;}
.page {margin-top: 1px; float:left;}

.page a,.page span{float: left;margin-left: 4px;display:block;border:1px solid #C7C7C7;color: #333;height:28px;line-height:28px; padding:0 10px;font-weight:nomal; font-size:14px;}
.page a:hover,.page span{background-color: #db2323;border: 1px solid #863335;text-decoration: none;color:#fff;}


.sub-head{ padding:12px 0 15px; height:40px;}
		.soRight{ float:right;width:269px; height:35px; margin:5px 0 0 0;}
		.soRight .inpt{ float:left;width:226px; padding:0 5px; height:27px; line-height:27px; border:1px solid #ccc; color:#909090;  font-size:12px; }
		.soRight .sobtn{ float:left;}


.lev3-head{ border-bottom:2px solid #4e4e4e;}
	.lev3-on{ float:left; padding:19px 0 0 0px; font-size:14px; color:#000;}
	.news-tit{ font-size:25px;line-height:25px;padding:12px 0; color:#000; text-align:center;}
	.news-from{ border-bottom:1px dashed #dbdbdb; padding-bottom:10px; height:15px; position:relative;text-align:center;}
	.news-btn{width:45px; height:18px; position:absolute; right:10px; top:0px;}
	.news-btn img{ cursor:pointer;}
	.new-cont{ padding:10px 0; color:#000; font-size:16px; line-height:24px;}
	.new-cont p{ padding:10px 0;}
	.lev3-left{width:640px;}
	.lev3-right .sub-tit{ background:#f9f9f9; padding:0 8px;}
	.lev3-right .bgf9{ padding:10px 8px 10px 8px;}
	.info h4{ color:#000; font-size:14px; font-weight:bold;padding-bottom:5px;}
	.info p{ color:#717171; text-align:left; line-height:20px;}
	
/*about-news*/
.rel h3{ font-size:14px; text-align:left; color:#000; font-size:16px;font-weight: bold;}
.rel li,.lev3-right .list li{height:26px; line-height:26px; background:url(../images/dian.jpg) no-repeat left 12px;text-align: left;}
.rel li span{ color:#c0c0c0; }


.br1{border-right:1px solid #dfdfdf;}
.bt1{ border-top:1px solid #dfdfdf;}
h3,h4{ font-weight:normal;}

.mt-10{ margin-top:-10px;}
.mt0{ margin-top:0;}

/*float*/
.zc_return_top_div{position:fixed;right:80px;bottom:50px;_position:absolute;_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)-80);_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-50)}

#zc_return_top {
	width: 60px;
	height: 50px;
	background-image: url(../images/botop.jpg);
	background-repeat:no-repeat;
}
.ewmbox{width:60px; height:59px;position:fixed;right:80px;bottom:105px;_position:absolute;_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)-80);_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-105)}

.news-left,.yuq-left{width:642px; float:left;}
.news-left .sub-tit{ border-bottom:1px solid #dbdbdb;margin-bottom:18px;}
.news-col-1,.yuq-col-1,.life-col-1{width:310px;}
.news-col-1{height:390px; overflow:hidden;}
.news-area{width:310px; height:190px;}
.news-area p{ height:30px; font-size:14px; line-height:24px; font-weight:bold;text-align:center;}
.news-li{ padding:10px 0; border-bottom:1px solid #f0f0f0;margin-top:-1px;}
.news-li dt{ font-size:18px; color:#000; height:25px; line-height:25px; overflow:hidden;}
.news-li dd{ color:#808080; height:22px; line-height:22px;}

.yuq-nav a{ margin:0 12px;}
.h290{ height:290px; overflow:hidden;}
.yuq-list1 {width:320px;margin-top:-8px;}
.yuq-list1 li{ height:42px; line-height:42px; border-bottom:1px solid #f0f0f0; font-size:18px; color:#000;}
.yuq-col-1 .news-area p{padding-top:15px;}
.telbox{ height:225px;background:url(../images/telbg.jpg) #f9f9f9 no-repeat 165px 130px;}
.telbox p{ padding:10px; line-height:24px;text-align:left; font-size:16px; color:#010101;}
.yuq-left .sub-tit{ border-bottom:1px solid #dbdbdb;}
.tabcont{ padding-top:10px;}
.tit-tab{ height:37px;line-height:36px;width:500px; position:absolute;left:120px; top:0; font-size:14px;}
.tit-tab a{ display:block; float:left;padding:0 8px; color:#010101; text-decoration:none;}
.tit-tab a.cur{ background: url(../images/curbg.jpg) no-repeat center bottom; color:#c3141b; cursor:pointer;}

.piclist li{width:82px;float:left; padding:10px 0 0 15px;}
.piclist li p{ text-align:center;width:82px; height:20px; line-height:20px;}
.sub-right .sub-tit h3{font-size:16px;}
a.red,.red a,.red a:link,.red a:visited{color:#C4111A;}

.tab-tit{ height:45px;}
.tab-tit h3{ height:45px; background:url(../images/tab-tit.jpg) repeat-x left top;}
.tab-tit h3 span{ display:block; position:relative;top:-2px;display:block;float:left;margin-right:15px;height:38px;padding:7px 5px 0; color:#0f0f0f; cursor:pointer;z-index:10;}
.tab-tit h3  span.cur{ border-top:4px solid #cc0c0c;padding-top:3px;background:url(../images/curbg2.jpg) no-repeat bottom center; color:#c5131a;}
.tab-tit2 h3{ font-size:16px;}


/*difang*/
.df_tab-tit{ height:45px;}
.df_tab-tit h3{ height:45px; background:url(../images/tab-tit.jpg) repeat-x left top;}
.df_tab-tit h3 span{ display:block; position:relative;top:-2px;display:block;float:left;/*margin-right:15px;*/height:38px;padding:7px 5px 0; color:#0f0f0f; cursor:pointer;z-index:10;font-weight: 100; width:150px;}
.df_tab-tit h3  span.cur{ border-top:4px solid #cc0c0c;padding-top:3px;background:url(../images/curbg2.jpg) no-repeat bottom center; color:#c5131a; width:150px}
.df_tab-tit2 h3{ font-size:16px;}

/*Public*/
.tc{ text-align:center;}
.bor-btm{ border-bottom:1px solid #f0f0f0;}
.blue,.blue a,.blue a:link,.blue a:visited,a.blue:link,a.blue:visited{color:#003e64;}
.blue2,.blue2 a,.blue2 a:link,.blue2 a:visited,a.blue2:link,a.blue2:visited{ color:#003e61;}
.red,.red a,.red a:link,.red a:visited,a.red:link,a.red:visited{color:#b70000;}
.c50,.c50 a,.c50 a:link,.c50 a:visited,a.c50:link,a.c50:visited{ color:#505050;}
.c00,.c00 a,.c00 a:link,.c00 a:visited,a.c00:link,a.c00:visited{ color:#000;}
.c80,.c80 a,.c80 a:link,.c80 a:visited,a.c80:link,a.c80:visited{ color:#808080;}
.main-list li h4 a:link,.main-list li h4 a:visited,.hot-list .hd a,.hot-list .hd a:link,.hot-list .hd a:visited{ color:#000;}

.keyword{ background: url(../images/kwbg.jpg) repeat-x; height:24px; line-height:24px; position:relative; margin:-1px 0 16px 0;}
.keyword div{width:910px; overflow:hidden; padding-left:25px;}
.addkw{ position:absolute; display:block; width:16px; height:16px; right:3px; top:5px; background:url(../images/add-ico.jpg) no-repeat;}

.lifenav a{ margin:0 9px;_display:inline;}
.life-col-1{ height:334px; overflow:hidden;}

.eco-nav a,.ind-nav a{ margin:0 16px;}
.list-pic{ float:left;}
.list-info{ float:left; padding-left:10px;width:440px;}
.fm-nav a{ margin:0 20px;}
.ch-nav a{ margin:0 20px;}

.vote{line-height:20px;color:gray;}
.vote h4{font-size:14px;font-weight:nomal;padding:5px 0;}
.vote label{margin-top:3px;display:block;clear:both;}
.vote input{margin-right:3px;}
.btn{padding:5px 0;float:left;}
.btn input,.btn a {
    background: none repeat scroll 0 0 #C3141B;
    border: medium none;
    color: #FFFFFF;
    padding: 5px 10px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    display: block;
}

.fl{ float:left;}.fr{ float:right;}
.ml5{ margin-left:5px;}
.mt10,.imgtxt{ margin-top:10px;}

.m0{ margin:0;}
.mt-20{margin-top:-20px;}
.mt20{margin-top:20px;}
.mr5{ margin-right:5px;}
.bd10{ padding-bottom:10px;}.pdl8{ padding-left:8px;}
.pdr8{ padding-right:8px;}.pdr10{ padding-right:10px;}.pdr15{ padding-right:15px;}.pdr20{ padding-right:20px;}
.lh22{ line-height:22px;}

.back_home{float:right;}
.biaoqian,.share span{float:left; display:inline;}
.biaoqian{height:30px; margin-left:10px;}
.share span{ margin-left:2px; vertical-align:middle; margin-top:1px; }
/*yuee*/
.P_01,.P_02{ clear:both; height:auto;font-weight:bold;line-height:25px; font-size:14px; text-align:center!important}
.P_01{padding-top:20px;}
.P_02{padding-bottom:10px;}
.bakehome{ float:left;margin-right:5px;}
.bakehome a{color:#C3141B}



/*difnag*/
.local-nav{ margin:20px 0 0;}
.local-nav a{ margin:0 9px;}

.local-nav2 a{ margin:0 10px;}
.col308{width:308px;}
.d-classify{ border:1px solid #dbdbdb;border-top:none;margin-top:-10px;padding:10px 0; float:left;margin-bottom:20px;}
.d-classify ul{ float:left; padding:0 5px;}
.d-classify li{ height:24px; line-height:24px; font-size:14px; text-align:left; overflow:hidden;}
.h-classify{ float:left;margin:10px 0 15px 0;}
.h-classify dl{ float:left;border-right:1px solid #dfdfdf;}
.h-classify dt{ background:#c3141b; color:#fff;margin-bottom:15px; height:33px; line-height:33px; font-size:16px;text-align:center;}

.h-classify dt a,.h-classify dt.cur1 a{ color:#fff; font-weight:bold;}
.h-classify dd{ color:#727272; height:24px; line-height:24px;}
.h-classify dt,.h-classify dd{width:138px; padding:0 10px;overflow:hidden; }
.d-classify{width:958px;}
  .d-classify li{ padding:0 4px; float:left; width:150px}
  
/*.h-classify a:link,.h-classify a:visited{color:#09548B;}*/


.fl{ float:left;}.fr{ float:right;}
.ml5{ margin-left:5px;}
.mt10,.imgtxt{ margin-top:10px;}
.m0{ margin:0;}
.mt-20{margin-top:-20px;}
.mt20{margin-top:20px;}
.mr5{ margin-right:5px;}
.bd10{ padding-bottom:10px;}.pdl8{ padding-left:8px;}
.pdr8{ padding-right:8px;}.pdr10{ padding-right:10px;}.pdr15{ padding-right:15px;}.pdr20{ padding-right:20px;}
.lh22{ line-height:22px;}
.Haddress{ margin-top:10px;padding:5px; width:288px; height:210px; border:1px solid #dbdbdb;}
.hosData{ background:#fafafa; border-top:1px solid #000; font-size:14px; color:#505050; line-height:25px; font-family:Microsoft YaHei;}
.hosData-t{ line-height:35px;background:#c3131a; font-size:24px;color:#fff;width:84px;}

.hosInfo{ padding:15px 0;font-family:Microsoft YaHei;}
.hosInfo img{ float:left; margin-right:27px;}
.hosInfo dt{ font-size:24px; color:#000; height:45px; line-height:45px; }
.hosInfo dd{ line-height:24px; color:#505050; font-size:14px;}

.fl{ float:left;}.fr{ float:right;}
.ml5{ margin-left:5px;}
.keyDep{ padding-top:10px;}
.keyDep ul{ float:left;}
.keyDep li{ float:left; font-size:14px; padding-right:10px; width:120px; text-align:left; line-height:24px; height:24px; overflow:hidden;}
.tm-table{ margin-top:10px;}
.tm-table td{ line-height:24px; padding:3px;}
.tm-table  th{ font-weight:bold;}

.Haddress{ margin-top:10px;padding:5px; width:288px; height:210px; border:1px solid #dbdbdb;}


